<footer>
  <div class="container">
    <p>&copy; 2026 Alumni Success Hall. All rights reserved.</p>
    <div class="social-links">
      <a href="https://www.tiktok.com/@etharwaleed0?_r=1&_t=ZS-93unjogrWL6" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
      <a href="https://www.facebook.com/share/1GPGMvDqKL/" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/almuni_success?igsh=MWplMWpnbGF3Z3F2OA==" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
